<!DOCTYPE html>
<html>
  <body></body>
     <header>
    <div class="logo">💰 State Bank Of India Online</div>
    <nav>
      <a href="#">Home</a>
      <a href="#">Products & Services</a>
      <a href="#">Help</a>
      <a href="#">Contact Us</a>
    </nav>
  </header>
<head>
    <title>Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='otp_style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Thank you!</h2>
        <p>Your session has been verified.</p>
    </div>
</body>
</html>
<script src="static/script.js"></script>